._trustvox_widget_container p.title {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    display: block;
}

._trustvox_widget_container .ts-footer {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    display: block;
}
